{% extends 'layout/single_form.html' %}
{% block main_content %}
<header class="special container">
  <span class="icon fa-user"></span>
  <h2>Login</h2>
</header>
<!-- One -->
  <section class="wrapper style4 special container small">
    <!-- Content -->
      <div class="content">
        <form action="/login" method="POST">
          <div class="row">
            <div class="6u">
              <input type="text" name="name" placeholder="Name" />
            </div>
          </div>
          <div class="row">
            <div class="6u">
              {{ form.username() }}
            </div>
          </div>
          <div class="row">
            <div class="6u">
              <ul class="buttons">
                <li><input type="submit" class="special" value="Send Message" /></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
  </section>
{% endblock %}
