<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'views/layout/head-include.html' %}
  <title>{% block title %}{% endblock %}</title>
</head>

<body class="home">
  <!-- Fixed navbar -->
  {% include 'views/layout/navbar.html' %}
  <!-- /.navbar -->
  {% block body%}


  {% endblock body %}

  <footer id="footer" class="top-space">

    <div class="footer2">
      <div class="container">
        <div class="row">

          <div class="col-md-6 widget">
            <div class="widget-body">
              <p class="simplenav">
                <a href="/">Home</a> |
                <a href="/blogs">Blogs</a> |
                <a href="/about">About</a> |
                <a href="/contact">Contact</a>
              </p>
            </div>
          </div>

          <div class="col-md-6 widget">
            <div class="widget-body">
              <p class="text-right">
                Copyright &copy; 2014, HDanh. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a>
              </p>
            </div>
          </div>

        </div> <!-- /row of widgets -->
      </div>
    </div>

  </footer>

  <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="/js/headroom.min.js"></script>
  <script src="/js/jQuery.headroom.min.js"></script>
  <script src="/js/template.js"></script>
</body>
</html>
